In [1]:
import pandas as pd
import numpy as np

# Task 1: Create a dictionary of city and their respective zip codes. Then ask zip code from user and provide the name of city.

In [2]:
d={'69000':'Mirpurkhas', '1229':'Hyderabad','3445':'Karachi','667':'Lahor' }
a=input("Enter Zipcod ")
print(d[a])

Enter Zipcod 69000
Mirpurkhas

# task 2

In [12]:
data = { 'name' : ['shoaban Ali', 'Waseem Ali', 'Anas','Hamad','Tahseen'],
'first year marks' : ['1250', '1050', '950','850','750'],
'total Marks' : [1300, 1300, 1300,1300,1300],
'average marks' : [12.3, 10.3, 9.3,8.3,7.3]
}

df = pd.DataFrame(data)
df

          name first year marks  total Marks  average marks
0  shoaban Ali             1250         1300           12.3
1   Waseem Ali             1050         1300           10.3
2         Anas              950         1300            9.3
3        Hamad              850         1300            8.3
4      Tahseen              750         1300            7.3